.reset-box{
    position: relative;
    width: 400px;
    height: 450px;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgb(215, 223, 238);
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}